apache-beam==2.47.0
asttokens==2.2.1
backcall==0.2.0
contextlib2==21.6.0
crcmod==1.7
dnspython==2.3.0
docopt==0.6.2
executing==1.2.0
fastavro==1.7.4
fasteners==0.18
google-nucleus==0.6.0
hdfs==2.7.0
httplib2==0.21.0
intervaltree==3.1.0
ipython==8.13.2
jedi==0.18.2
matplotlib-inline==0.1.6
mock==5.0.2
objsize==0.6.1
orjson==3.8.12
parso==0.8.3
pickleshare==0.7.5
prompt-toolkit==3.0.38
proto-plus==1.22.2
pure-eval==0.2.2
pyarrow==11.0.0
pydot==1.4.2
pymongo==4.3.3
sortedcontainers==2.4.0
stack-data==0.6.2
traitlets==5.9.0
zstandard==0.21.0
